<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnError="true"
         stopOnFailure="true"
         syntaxCheck="true">

  <logging>
    <log type="coverage-html"
         target="data/logs/test-coverage-html"
         yui="true"
         highlight="true"/>
  </logging>
  

</phpunit>
